<a href="https://colab.research.google.com/github/Luis-Amagua/Visualizacion_datos_Python/blob/main/1_Configuraciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualización de datos con Python

In [1]:
# Para conectar Google Drive se usa la sentencia: (debes tener cuenta en google)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
# para verificar en qué carpeta está trabajando
import os
os.getcwd()

'/content'

In [8]:
# cambiar el directorio de trabajo de Google Drive
os.chdir('drive/MyDrive/CIENCIA DE DATOS/Datapath/Visualizacion de datos')

In [9]:
# que archivos tiene la carpeta
os.listdir()

['requirements-colab.txt', 'data']

In [10]:
# en "requirements-cola.txt" se tienen las librerias a utilizar
# para instalar todas las librerias necesarias :
!pip install -r requirements-colab.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 1)) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 2)) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 3)) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 4)) (0.11.2)
Requirement already satisfied: folium in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 5)) (0.12.1.post1)
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (from -r requirements-colab.txt (line 6)) (1.17.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->-r requirements-colab.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->-r requirements-colab.txt (line 1)) (2022.7.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r requirements-colab.txt (line 3)) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r requirements-colab.txt (line 3)) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->-r requirements-colab.txt (line 3)) (1.4.4)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/dist-packages (from seaborn->-r requirements-colab.txt (line 4)) (1.7.3)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.8/dist-packages (from folium->-r requirements-colab.txt (line 5)) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from folium->-r requirements-colab.txt (line 5)) (2.25.1)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from folium->-r requirements-colab.txt (line 5)) (0.6.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.8/dist-packages (from geopy->-r requirements-colab.txt (line 6)) (1.52)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.9->folium->-r requirements-colab.txt (line 5)) (2.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->-r requirements-colab.txt (line 1)) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->folium->-r requirements-colab.txt (line 5)) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->folium->-r requirements-colab.txt (line 5)) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->folium->-r requirements-colab.txt (line 5)) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->folium->-r requirements-colab.txt (line 5)) (2.10)

# Módulo 1

In [15]:
import pandas as pd
import warnings  
import os

warnings.filterwarnings(action='ignore') # alrguna alerta o aviso se va a ignorar

In [18]:
os.getcwd() # direccion en donde está la carperta trabajando

'/content/drive/MyDrive/CIENCIA DE DATOS/Datapath/Visualizacion de datos'

In [19]:
os.listdir() # archivos en la carpeta

['requirements-colab.txt', 'data']

## Leer datos

In [25]:
df=pd.read_csv('./data/m1/user-data.csv',sep=',',encoding= 'utf-8')
df.head(5)

,id,first_name,last_name,email,ip_address,group,income
0,1,Kattie,Tewkesberrie,ktewkesberrie0@home.pl,112.125.102.109,0,927
1,2,Vaughan,Raynham,vraynham1@spiegel.de,215.173.97.221,1,970
2,3,Curr,Weld,cweld2@loc.gov,54.75.238.199,2,127
3,4,Robbin,Leechman,rleechman3@narod.ru,131.189.19.17,3,697
4,5,Titus,Savory,tsavory4@posterous.com,88.164.244.52,4,139

In [27]:
df.tail(3) # se visualiza las ultimas lineas

,id,first_name,last_name,email,ip_address,group,income
997,998,Vivyan,Rhoddie,vrhoddierp@vk.com,7.177.149.223,2,919
998,999,George,Skamal,gskamalrq@tripadvisor.com,115.84.154.243,4,211
999,1000,Gerianne,Dudderidge,gdudderidgerr@marriott.com,58.164.163.247,7,782

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
 4   ip_address  1000 non-null   object
 5   group       1000 non-null   int64
 6   income      1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 54.8+ KB

In [34]:
cols=['id','group','income']
subdf=df[cols].copy(deep=True) # se hace una copia para que no afecte directamente al dataset original
subdf.head(5)

   id  group  income
0   1      0     927
1   2      1     970
2   3      2     127
3   4      3     697
4   5      4     139

In [44]:
df.groupby(by=['group'])['id','income'].count()

        id  income
group
0      137     137
1      138     138
2      107     107
3      110     110
4      121     121
5      138     138
6      112     112
7      137     137

In [50]:
groupdf=df.groupby(by=['group']).agg({'id':'count','income':['min','max','mean']})
groupdf

         id income
      count    min  max        mean
group
0       137    103  994  532.941606
1       138    103  995  589.659420
2       107    109  993  543.018692
3       110    128  998  565.518182
4       121    118  999  550.644628
5       138    101  999  536.826087
6       112    116  986  534.375000
7       137    110  999  548.897810

In [52]:
groupdf.columns # multiindice por como especifiqué ls datos

MultiIndex([(    'id', 'count'),
            ('income',   'min'),
            ('income',   'max'),
            ('income',  'mean')],
           )

In [54]:
groupdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (id, count)     8 non-null      int64
 1   (income, min)   8 non-null      int64
 2   (income, max)   8 non-null      int64
 3   (income, mean)  8 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes